ul {
    padding: 0px;
    margin:0px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    max-width: 100%;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}
#carouselExampleIndicators{
    background: linear-gradient(0deg, rgba(254,208,19,0.2329306722689075) 97%, rgba(254,208,19,0.2329306722689075) 97%);

}
